img, button {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
::-moz-selection {
	background: #7fb6e0;
}
::selection {
	background: #7fb6e0;
}

html {
	font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html, body {
	display: grid;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: rgba(127, 182, 224, 0.5);
}

main {
	display: flex;
	max-width: 100%;
	min-height: calc(100% - 10px);
	margin: 5px;
}
footer {
	margin-top: auto;
}

.search {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 5px;
	background: #ffffff11;
	border: 2px solid black;
	border-radius: 5px;
}

html:not(.compact) main {
	flex-direction: column;
}
html:not(.compact) .search {
	width: unset;
}
html:not(.compact) .pokedata {
	display: none;
}
@media (max-width: 680px) {
	main {
		flex-direction: column;
	}
	.search {
		width: unset;
	}
	html.compact .search:not(.searching) .results {
		display: none;
	}

	.pokedata .group > .data {
		margin: 5px;
	}
}

.search .title {
	font-size: 30px;
	font-weight: 600;
	margin: 10px;
	text-align: center;
	cursor: pointer;
}
.search .subtitle {
	font-size: 15px;
	font-weight: 300;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	text-align: center;
}
.search .title:hover {
	text-decoration: underline;
}
input {
	border: 2px solid black;
	padding: 10px;
}
*:focus {
	outline: none !important;
	box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}
.search input {
	align-self: center;
	width: max(50%,200px);
	margin: 10px;
	border-radius: 5px;
}
.search .results {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}
.search .results .faces {
	margin: 5px;
	cursor: pointer;
}

.pokedata {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	margin: 5px;
	border-radius: 5px;
}

.pokedata:not(:first-of-type) input {
	pointer-events: none;
	background: #aaaaaa;
}

.pokedata .header {
	display: flex;
	width: 100%;
	height: 30px;
	padding: 20px 20px;
	margin-bottom: 10px;
	align-items: center;
	background: #111111;
	border-radius: 5px;
	cursor: pointer;
	transition: all .2s ease;
}
.pokedata .header:hover {
	background-color: #333;
}
.pokedata .header .faces {
	margin-right: 10px;
}
.pokedata .header .name {
	font-size: 25px;
	color: #eeeeee;
	margin-right: 10px;
}
.pokedata .header small {
	font-size: 15px;
}

.btn-add,
.btn-close {
	width: 25px;
	height: 25px;
	text-align: center;
	border-radius: 5px;
	margin-left: auto;
	background-color: white;
	transition: all .2s ease;
}
.btn-add::after {
	font-weight: bold;
	content: '+';
	color: black;
}
.btn-close::after {
	font-weight: bold;
	content: 'x';
	color: black;
}
.btn-add:hover,
.btn-close:hover {
	transform: scale(1.2);
}

.pokedata .group {
	flex-grow: 1;
	margin: 5px 5px;
	padding: 0px;
	border-radius: 5px;
}
.pokedata > .group {
	background: #ffffff11;
	border: 2px solid black;
}
.pokedata .group:not([open]) {
	align-self: flex-start;
}
.pokedata .group > .title {
	font-weight: 600;
	font-size: 15px;
	padding: 5px 10px;
	border-bottom: 1px solid black;
}
.pokedata details.group > summary.title {
	cursor: pointer;
	transition: all .2s ease;
	font-size: 20px;
}
.pokedata details.group > summary.title:hover {
	background-color: rgba(255,255,255,0.5);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.pokedata .group > .data {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 10px;
}

.pokedata table {
	margin: 5px;
	font-size: 15px;
	border: 2px solid black;
	cursor: default;
}
.pokedata table th,
.pokedata table td {
	padding: 0px 5px;
}
.pokedata table tr:nth-child(even) {
	background-color: #f2f2f2;
}
.pokedata table tr:nth-child(odd) {
	background-color: #f2f2f2cc;
}

.pokedata .recipes table td:nth-child(3) {
	text-align: right;
}

.pokedata .stats table td:nth-child(2) {
	white-space: pre;
	font-family: monospace;
}


.bingos .flex-table {
	display: flex;
	flex-direction: column;
}
.bingos .flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.bingos .flex-cell {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1px;
	padding: 0px 5px;
}
.bingos .flex-row:nth-child(even) .flex-cell {
	background-color: #f2f2f2;
}
.bingos .flex-row:nth-child(odd) .flex-cell {
	background-color: #f2f2f2cc;
}
.bingo-faces .flex-cell {
	background: none !important;
}
.bingo-slot {
	font-weight: 600;
	background: none !important;
}
.arrow-between {
	display: flex;
	position: relative;
	width: 35px;
	margin: 0px 5px;
	justify-content: center;
}
.arrow-between::after {
	content: "\279c";  /* todo: use url() instead, to include an image? */
	font-size: 20px;
	position: absolute;
	margin-top: -1.5ex;
}
.bingo-faces .arrow-between::after {
	font-size: 35px;
}
.bingos .faces-name {
	font-weight: 600;
}

.pokedata .stoneslots .input {
	margin-bottom: 5px;
}
.pokedata .stoneslots .input input {
	width: 75px;
	border-radius: 5px;
	text-align: center;
}
.pokedata .stoneslots .output tr:first-child td {
	/* make info-text reasonably wide */
	max-width: 240px;
}
.pokedata .stoneslots table td:nth-child(2) {
	text-align: right;
}

.pokedata .rawdata code {
	transform: rotateX(180deg);
	width: 100%;
	max-width: 75vw;
	padding: 5px;
	white-space: pre;
	overflow-x: auto;
	background: #000000;
	color: #cccccc;
	border: 2px solid #cccccc;
	font-family: Consolas,Liberation Mono,Courier,monospace;
	font-size: 10px;
	tab-size: 4;
	-moz-tab-size: 4;
}
.pokedata .rawdata code > .output {
	transform: rotateX(180deg);
	display: inline-block;
	cursor: text;
}

.faces {
	transition: all .2s ease;
}
.results .faces:hover {
	box-shadow: 5px 5px 0px black;
	transform: scale(0.9) translateY(2.25px);
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 10px;
	margin: 0;
}
nav > a {
	display: flex;
	align-items: center;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	text-decoration: none;
	color: #000;

	border: 2px solid black;
		transition: all .2s ease;
}
nav > a:hover {
	background: white;
	border: 2px solid rgba(0,0,0,0);
}
nav > a > img {
	margin-right: 10px;
}


details[open] summary ~ * {
	animation: scalein .5s ease-in-out;
}
@keyframes scalein {
	0%    {transform: scaleY(0);}
	100%  {transform: scaleY(1);}
}
@keyframes fadein {
	0%    {opacity: 0;}
	100%  {opacity: 1;}
}